@model List<ProductViewModel>

<div class="mt-10 grid grid-cols-2 gap-6 sm:grid-cols-4 sm:gap-4 lg:mt-16">
    @foreach (var product in Model)
    {
        <article class="relative flex flex-col overflow-hidden rounded-lg border shadow-xl">
            <div class="aspect-square overflow-hidden">
                <img class="h-full w-full object-cover transition-all duration-300 group-hover:scale-125" src="@product.ImageUrl" alt="" />
            </div>
            <div class="absolute top-0 m-2 rounded-full bg-white">
                <p class="rounded-full bg-emerald-500 p-1 text-[8px] font-bold tracking-wide text-white sm:py-1 sm:px-3">Sale</p>
            </div>
            <div class="my-4 mx-auto flex w-10/12 flex-col items-start justify-between">
                <h4 class="mb-2 text-sm text-gray-400">Bakery & Biscuits</h4>
                <p class="mr-3 text-sm font-semibold">SKU: @product.Id</p>
                <h3 class="mb-2 text-sm text-lime-950">@product.Name</h3>
                <div class="mb-2 flex">
                    <p class="mr-3 text-sm font-semibold">$@product.Price</p>
                </div>
                <span class="flex rounded-full bg-lime-600 px-2 py-1 text-xs text-white font-bold mr-3">In Stock</span>
            </div>
            <button class="group mx-auto mb-2 flex h-10 w-10/12 items-stretch overflow-hidden rounded-md text-gray-600">
                <div class="flex w-full items-center justify-center bg-gray-100 text-xs uppercase transition group-hover:bg-emerald-600 group-hover:text-white">Add</div>
                <div class="flex items-center justify-center bg-gray-200 px-5 transition group-hover:bg-emerald-500 group-hover:text-white">+</div>
            </button>
            <form method="post">
                <button asp-action="DeleteProduct" asp-controller="Product" asp-route-id="@product.Id" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300
                    font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600
                    dark:hover:bg-red-700 dark:focus:ring-red-900">
                    DELETE PRODUCT 
                </button>
            </form>
        </article>
    }
</div>