<section class="bg-orange-100 py-12 text-gray-700 sm:py-16 lg:py-20">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-md text-center">
            <h2 class="font-calistoga text-lime-950 text-2xl sm:text-3xl">Fresh Fruits & Vegetables</h2>
        </div>
        <div class="mt-10 grid grid-cols-2 gap-6 sm:grid-cols-4 sm:gap-4 lg:mt-16">

            @*<article class="relative flex flex-col overflow-hidden rounded-lg border shadow-xl">
                <div class="aspect-square overflow-hidden">
                    <img class="h-full w-full object-cover transition-all duration-300 group-hover:scale-125" src="https://freshcart.codescandy.com/assets/images/products/product-img-6.jpg" alt="" />
                </div>
                <div class="absolute top-0 m-2 rounded-full bg-white">
                    <p class="rounded-full bg-emerald-500 p-1 text-[8px] font-bold tracking-wide text-white sm:py-1 sm:px-3">Sale</p>
                </div>
                <div class="my-4 mx-auto flex w-10/12 flex-col items-start justify-between">
                    <h4 class="mb-2 text-sm text-gray-400">Dairy, Bread & Eggs</h4>
                    <h3 class="mb-2 text-sm text-lime-950">Blueberry Greek Yogurt - 500 g</h3>
                    <div class="mb-2 flex">
                        <p class="mr-3 text-sm font-semibold">$2.29</p>
                    </div>
                    <span class="flex rounded-full bg-red-800 px-2 py-1 text-xs text-white font-bold mr-3">Out of Stock</span>
                </div>
                <button class="group mx-auto mb-2 flex h-10 w-10/12 items-stretch overflow-hidden rounded-md text-gray-600">
                    <div class="flex w-full items-center justify-center bg-gray-100 cursor-not-allowed text-xs uppercase transition group-hover:bg-emerald-600 group-hover:text-white">Add</div>
                    <div class="flex items-center justify-center bg-gray-200 cursor-not-allowed px-5 transition group-hover:bg-emerald-500 group-hover:text-white">+</div>
                </button>
            </article>*@

            @*EXAMPLE PRODUCT FOR VISUALIZE*@

            <article class="relative flex flex-col overflow-hidden rounded-lg border shadow-xl">
                <div class="aspect-square overflow-hidden">
                    <img class="h-full w-full object-cover transition-all duration-300 group-hover:scale-125" src="https://freshcart.codescandy.com/assets/images/products/product-img-2.jpg" alt="" />
                </div>
                <div class="absolute top-0 m-2 rounded-full bg-white">
                    <p class="rounded-full bg-emerald-500 p-1 text-[8px] font-bold tracking-wide text-white sm:py-1 sm:px-3">Sale</p>
                </div>
                <div class="my-4 mx-auto flex w-10/12 flex-col items-start justify-between">
                    <h4 class="mb-2 text-sm text-gray-400">Bakery & Biscuits</h4>
                    <h3 class="mb-2 text-sm text-lime-950">NutriChoice Digestive - 1 kg</h3>
                    <div class="mb-2 flex">
                        <p class="mr-3 text-sm font-semibold">$4.29</p>
                    </div>
                    <span class="flex rounded-full bg-lime-600 px-2 py-1 text-xs text-white font-bold mr-3">In Stock</span>
                </div>
                <button class="group mx-auto mb-2 flex h-10 w-10/12 items-stretch overflow-hidden rounded-md text-gray-600">
                    <div class="flex w-full items-center justify-center bg-gray-100 text-xs uppercase transition group-hover:bg-emerald-600 group-hover:text-white">Add</div>
                    <div class="flex items-center justify-center bg-gray-200 px-5 transition group-hover:bg-emerald-500 group-hover:text-white">+</div>
                </button>
            </article>


            @*@for (int i = 0; i < 15; i++)
            {
                <article class="relative flex flex-col overflow-hidden rounded-lg border shadow-xl">
                    <div class="aspect-square overflow-hidden">
                        <img class="h-full w-full object-cover transition-all duration-300 group-hover:scale-125" src="https://freshcart.codescandy.com/assets/images/products/product-img-2.jpg" alt="" />
                    </div>
                    <div class="absolute top-0 m-2 rounded-full bg-white">
                        <p class="rounded-full bg-emerald-500 p-1 text-[8px] font-bold tracking-wide text-white sm:py-1 sm:px-3">Sale</p>
                    </div>
                    <div class="my-4 mx-auto flex w-10/12 flex-col items-start justify-between">
                        <h4 class="mb-2 text-sm text-gray-400">Bakery & Biscuits</h4>
                        <h3 class="mb-2 text-sm text-lime-950">NutriChoice Digestive - 1 kg</h3>
                        <div class="mb-2 flex">
                            <p class="mr-3 text-sm font-semibold">$4.29</p>
                        </div>
                        <span class="flex rounded-full bg-lime-600 px-2 py-1 text-xs text-white font-bold mr-3">In Stock</span>
                    </div>
                    <button class="group mx-auto mb-2 flex h-10 w-10/12 items-stretch overflow-hidden rounded-md text-gray-600">
                        <div class="flex w-full items-center justify-center bg-gray-100 text-xs uppercase transition group-hover:bg-emerald-600 group-hover:text-white">Add</div>
                        <div class="flex items-center justify-center bg-gray-200 px-5 transition group-hover:bg-emerald-500 group-hover:text-white">+</div>
                    </button>
                </article>
            }*@
        </div>
</section>